html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 11pt;
}

html::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

html::-webkit-scrollbar-thumb {
  height: 40px;
  background-color: #eee;
  border-radius: 16px;
}

a {
  color: #2d96bd;
  text-decoration: none;
  transition: color .2s ease, border-color .2s ease, background .2s ease, opacity .2s ease;
}

a:hover {
  color: #ef3982;
}

* {
  box-sizing: border-box;
}

.container {
  padding-left: 1em;
  padding-right: 1em;
}

.footer {
  width: 100%;
  text-align: center;
  line-height: 2rem;
  padding-top: 2em;
  color: #a9a9b3;
}
.copyright {
  font-size: 14px;
}

.simpleintro {
  line-height: 1;
}

.simpleintro i {
  font-size: 14px;
}

.navbar {
  padding: 1em 0;
  width: 100%;
}

.navbar .container {
  max-width: 1200px;
  width: auto;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.navbar-right>a {
  padding: 0 8px;
  color: #161209;
}
.navbar-right>a.selectd {
  font-weight: bold;
}
.post-warp {
  width: auto;
  max-width: 780px;
  margin: 0 auto;
}